<h2>Hello <%=@user.mail%></h2>

<p>
	Your activation code is <%=@user.token%>
</p>

<p>
	You can use the same code how many times as you want
</p>

<p>
	If didn't request this code, just ignore this mail
</p>

<a href="mailto:pablo@putsmail.com">pablo@putsmail.com</a></br>
<a href="http://putsmail.com">http://putsmail.com</a>
