<%= raw @mail_body %>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<table border="0" style="margin-top: 20px">
  <tr>
    <td>Puts Mail Token: <a href="http://putsmail.com/<%= raw @mail_token %>"><%= raw @mail_token %></a></td>
  </tr>
  <tr>
    <td>If you wish to stop receiving emails from Puts Mail, please send an e-mail to <a href="mailto:unsubscribe@putsmail.com">unsubscribe@putsmail.com</a>.</td>
  </tr>
</table>
