<hr/>
<h3>Share with Friends</h3>
<p>	
	Share with friends ;)
</p>	
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'3c0bc034-4948-42bc-9a66-468c9eca824c',  onhover: false});</script>


<span class="st_twitter" displayText="Tweet"></span><span class="st_facebook" displayText="Share"></span><span class="st_email" displayText="Email"></span><span class="st_sharethis" displayText="Share"></span>

<!-- with counter 
<span class="st_twitter_vcount" displayText="Tweet"></span><span class="st_facebook_vcount" displayText="Share"></span><span class="st_email_vcount" displayText="Email"></span><span class="st_sharethis_vcount" displayText="Share"></span>
-->

<h3 id="what_is_the_token">What is the token?</h3>
<p>
	The token is the code sent to your e-mail address to guarantee that you are yourself. By using the token, Puts Mail will avoid the sending of inappropriate mail
</p>
<p>
	You can use the same token as many times as you want
</p>
<h3>Problems?</h3>
<p>
	If the mail doesn't appear in your inbox, please take a look on your spam box
</p>
<h3>About</h3>
<p>
	Hello, my name is <a href="http://pablocantero.com">Pablo Cantero</a>, I'm the developer for this web site<br/>
	If you have any doubts or suggestions, please leave a message at <a href="http://pablocantero.com/blog/contato/">http://pablocantero.com/blog/contato/</a>
</p>