<hr/>
<h3 id="share_with_friends">Share with Friends</h3>
<p>	
	If more people use this tool, this tool will improve for all and consequently FOR YOU. Share with your friends ;) 
</p>	
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'3c0bc034-4948-42bc-9a66-468c9eca824c',  onhover: false});</script>


<span class="st_twitter" displayText="Tweet"></span><span class="st_facebook" displayText="Share"></span><span class="st_email" displayText="Email"></span><span class="st_sharethis" displayText="Share"></span>

<!-- with counter 
<span class="st_twitter_vcount" displayText="Tweet"></span><span class="st_facebook_vcount" displayText="Share"></span><span class="st_email_vcount" displayText="Email"></span><span class="st_sharethis_vcount" displayText="Share"></span>
-->

<h3 id="donate_to_this_project">Donate to this project</h3>
<p>
	Support this project. Donate!
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="KV8GQX9Y2R6TL">
	<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
</p>

<h3 id="what_is_the_token">What is the token?</h3>
<p>
	The token is the code sent to your mail address to guarantee that you are yourself. By using the token, Puts Mail will avoid the sending of inappropriate mail
</p>
<p>
	You can use the same token as many times as you want
</p>
<h3 id="what_is_premailer">What is Premailer?</h3>
<p>
	Premailer is an open source Ruby library availiable on <a href="https://github.com/alexdunae/premailer/" title="Go to Premailer on GitHub">GitHub</a>, to help you prep your HTML mail templates for better viewing in most web clients by:
	<ul>
		<li>making all your CSS inline</li>
	    <!-- <li>changing relative links to absolute links</li> -->
	    <li>checking your HTML and CSS for compatibiliy with e-mail clients</li>
	    <!-- <li>creating a plain-text version of your message</li> -->
	</ul>
</p>
<h3 id="more_recommendations">More recommendations</h3>
<ul>
	<li>Do not use JavaScript</li>
	<li>Write all css content inside this body. <a href="http://premailer.dialect.ca/" title="Go to Premailer demo/author website">For the best results, CSS should be inline</a></li>
	<li>Check if all image sources are available online. You can use many free services to upload your images like <a href="http://imageshack.us" title="Go to Image Shack website">Image Shack</a></li>
	<li>Check out these articles <a href="http://www.adobe.com/devnet/dreamweaver/articles/html_emails.html" title="Go to the Article website">Creating cross-client HTML emails</a>, <a href="http://www.campaignmonitor.com/design-guidelines/"  title="Go to the Article website">Email design guidelines</a> and <a href="http://www.campaignmonitor.com/css/"  title="Go to the Article website">Guide to CSS support in email clients</a></li>
	<li><a href="http://www.campaignmonitor.com/" title="Campaign Monitor website">Campaign Monitor</a> and <a href="http://www.mailchimp.com/" title="Go to MailChimp website">MailChimp</a> are good and cheap mail marketing tools to send and track your campaigns</li>
	<li>Looking for simple HTML email templates that don't break? Take a look at <a href="http://www.campaignmonitor.com/templates/"  title="Go to Templates website">Campaign Monitor templates</a>, <a href="http://mailchimp.com/resources/html-email-templates/" title="Go to Templates website">MailChimp templates</a></li>
	<li>Set img style="display: block;" <a href="http://www.campaignmonitor.com/blog/post/3132/how-to-stop-gmail-from-adding-a-margin-to-your-images/" title="Go to the explantion website">to stop Gmail from adding a margin to your images</a></li>
	<li><a href="http://pablocantero.com/blog/contato/" title="Please help to improve this tool">Send your recommendation</a></li>
</ul>
<h3>Problems?</h3>
<p>
	If the mail doesn't appear in your inbox, please take a look on your spam box
</p>
<h3 id="about">About</h3>
<p>
	Hello, my name is <a href="http://pablocantero.com/blog/sobre" title="Go to my website">Pablo Cantero</a>, I'm the developer for this website<br/>
	If you have any doubts or suggestions, please leave a message at <a href="http://pablocantero.com/blog/contato/" title="Leave a message">http://pablocantero.com/blog/contato/</a>
</p>
<p>
	You can find me on <a href="http://www.linkedin.com/in/PabloCantero">LinkedIn</a>, <a href="http://twitter.com/pablocantero">@pablocantero</a> and <a href="http://www.facebook.com/PabloHenrique">Facebook</a>
</p>