<style>
body{
	font-family: verdana, arial;
}
#mailBody {
	width:480px;
	height:250px;
	border: 2px solid #000;
} 
.inputText {
	width:300px;
	height:30px;
	border: 2px solid #000;
}
.inputButton {
	width:150px;
	height:30px;
	/border: 2px solid #000;
}
#left {
	float: left;
	width: 500px;
}
#right{
	float: left;
	width: 290px;
}
#columns {
	width: 800px;
	height: 300px;
	float: left;
}
#content{
	width: 800px;
}
ul li {
	font-size: 12px;
	margin-bottom: 5px;
}
</style>

<script>
	var PutsMail = {
		checkImagesSrc: function(){
		},
		preview: function(){
			var preview = window.open('', 'preview');
			preview.document.write(document.getElementById('mailBody').value);
		}		
	};
</script>

<div id="content">
	<h1>Puts Mail</h1>
	<h2>It's a mail test tool, to test your mails before send them</h2>

	<p>
		The main idea of this tool, is to test html mail, to send it as campaign, newsletter and others (please, don't use it to spam test, help us to make a better world)
	</p>
	<p>
		<label for="mailTo">* To</label><br/>
		<input type="text" id="mailTo" class="inputText">&nbsp;<input type="button" value="Send activation code" class="inputButton"> 
	</p>
	<p>
		<label for="mailSubject">Subject</label><br/>
		<input type="text" id="mailSubject" class="inputText">
	</p>
	<p>
		<label for="activationCode">* Activation code</label> (<a href="#what_is_the_activation_code">what is it?</a>)<br/>
		<input type="text" id="activationCode" class="inputText">
	</p>
	<div id="columns">
		<div id="left">
			<p>
				<label for="mailBody">* Body (paste your mail body here)</label><br/>
				<textarea id="mailBody"></textarea>
			</p>
		</div>
		<div id="right">
			<h3>Recommendations</h3>
			<ul>
				<li>Write all css content inside this body, avoid the usage of css includes</li>
				<li>Check if all image src are available on internet. You can use many free services to upload your images like <a href="http://imageshack.us">Image Shack</a></li>
				<li>Check out these articles <a href="http://www.adobe.com/devnet/dreamweaver/articles/html_emails.html">Creating cross-client HTML emails</a> and <a href="http://www.campaignmonitor.com/css/">Guide to CSS support in email clients</a>
			</ul>
		</div>
	</div>
	<p>
		<input type="button" onclick="PutsMail.preview();" value="Preview" class="inputButton"/> | <input type="button" value="Send mail" class="inputButton" onclick="PutsMail.checkImagesSrc();"/>
	</p>

	<h3 id="what_is_the_activation_code">What is the activation code?</h3>
	<p>
		The activation code, is the code sent to your mail to guarantee that you are you. To avoid the usage of this tool to send inappropriate mail
	</p>
	<p>
		You can use the same code how many times as you want. If you request a new activation code, the previous code will be inativated
	</p>
</div>