<div id="content">
	<h1>Puts Mail</h1>
	<h2>It's a mail test tool to test your mails before sending them</h2>

	<p>
		The main idea of this tool is to test HTML mails that will be sent as campaigns, newsletters and others (please, don't use it to spam, help us make a better world)
	</p>
	<p>
		<label for="to">* To</label><br/>
		<input type="text" id="to" class="inputText">&nbsp;<input type="button" id="sendToken" onclick="PutsMail.sendToken();" value="Send activation code" class="inputButton"> 
	</p>
	<p>
		<label for="subject">Subject</label><br/>
		<input type="text" id="subject" class="inputText" value="Puts Mail - Test">
	</p>
	<p>
		<label for="token">* Token</label> (<a href="#what_is_the_token">what is it?</a>)<br/>
		<input type="text" id="token" class="inputText">
	</p>
	<div id="columns">
		<div id="left">
			<p>
				<label for="body">* Body (paste your mail body here)</label><br/>
				<textarea id="body"></textarea>
			</p>
		</div>
		<div id="right">
			<h3>Recommendations</h3>
			<ul>
				<li>Write all css content inside this body. Avoid usage of css includes</li>
				<li>Check if all image sources are available online. You can use many free services to upload your images like <a href="http://imageshack.us">Image Shack</a></li>
				<li>Check out these articles <a href="http://www.adobe.com/devnet/dreamweaver/articles/html_emails.html">Creating cross-client HTML emails</a>, <a href="http://www.campaignmonitor.com/design-guidelines/">Email design guidelines</a> and <a href="http://www.campaignmonitor.com/css/">Guide to CSS support in email clients</a>
			</ul>
		</div>
	</div>
	<p>
		<input type="button" onclick="PutsMail.preview();" value="Preview" class="inputButton"/> | <input type="button" id="sendMail" value="Send mail" class="inputButton" onclick="PutsMail.putsMail();"/>
	</p>

	<h3 id="what_is_the_token">What is the token?</h3>
	<p>
		The token is the code sent to your e-mail address to guarantee that you are yourself. By using the token, Puts Mail will avoid the sending of inappropriate mail
	</p>
	<p>
		You can use the same token as many times as you want
	</p>
	<h3>About</h3>
	<p>
		Hello, my name is <a href="http://pablocantero.com">Pablo Cantero</a>, I'm the developer for this web site<br/>
		If you have any doubts or suggestions, please leave a message at <a href="http://pablocantero.com/blog/contato/">http://pablocantero.com/blog/contato/</a>
	</p>
</div>