<style>
body{
	font-family: verdana, arial;
}
#body {
	width:480px;
	height:250px;
	border: 2px solid #000;
} 
.inputText {
	width:300px;
	height:30px;
	border: 2px solid #000;
}
.inputButton {
	width:150px;
	height:30px;
	/border: 2px solid #000;
}
#left {
	float: left;
	width: 500px;
}
#right{
	float: left;
	width: 290px;
}
#columns {
	width: 800px;
	height: 300px;
	float: left;
}
#content{
	width: 800px;
}
ul li {
	font-size: 12px;
	margin-bottom: 5px;
}
</style>

<div id="content">
	<h1>Puts Mail</h1>
	<h2>It's a mail test tool, to test your mails before send them</h2>

	<p>
		The main idea of this tool, is to test html mail, to send it as campaign, newsletter and others (please, don't use it to spam test, help us to make a better world)
	</p>
	<p>
		<label for="to">* To</label><br/>
		<input type="text" id="to" class="inputText">&nbsp;<input type="button" id="sendToken" onclick="PutsMail.sendToken();" value="Send activation code" class="inputButton"> 
	</p>
	<p>
		<label for="subject">Subject</label><br/>
		<input type="text" id="subject" class="inputText" value="Puts Mail - Test">
	</p>
	<p>
		<label for="token">* Token</label> (<a href="#what_is_the_token">what is it?</a>)<br/>
		<input type="text" id="token" class="inputText">
	</p>
	<div id="columns">
		<div id="left">
			<p>
				<label for="body">* Body (paste your mail body here)</label><br/>
				<textarea id="body"></textarea>
			</p>
		</div>
		<div id="right">
			<h3>Recommendations</h3>
			<ul>
				<li>Write all css content inside this body, avoid the usage of css includes</li>
				<li>Check if all image src are available on internet. You can use many free services to upload your images like <a href="http://imageshack.us">Image Shack</a></li>
				<li>Check out these articles <a href="http://www.adobe.com/devnet/dreamweaver/articles/html_emails.html">Creating cross-client HTML emails</a> and <a href="http://www.campaignmonitor.com/css/">Guide to CSS support in email clients</a>
			</ul>
		</div>
	</div>
	<p>
		<input type="button" onclick="PutsMail.preview();" value="Preview" class="inputButton"/> | <input type="button" id="sendMail" value="Send mail" class="inputButton" onclick="PutsMail.putsMail();"/>
	</p>

	<h3 id="what_is_the_activation_code">What is the token?</h3>
	<p>
		The token, is the code sent to your mail to guarantee that you are you. To avoid the usage of this tool to send inappropriate mail
	</p>
	<p>
		You can use the same token how many times as you want
	</p>
</div>