<form class="form-horizontal" action="<%= api_test_mails_path %>" method="post" name="form_test_email" id="form_test_email">
	<!--
	<fieldset>
		<legend>Test fields</legend>
	-->
		<div class="control-group">
			<label class="control-label" for="input01">To:</label>
			<div class="controls">
				<input type="email" class="input-xlarge" id="test_mail_recipients_0" name="test_mail[recipients][]" required="true">
				<p class="help-block">Enter a valid e-mail address.</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">Subject:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="test_mail_subject" name="test_mail[subject]"  required="true">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="textarea">Body:</label>
			<div class="controls">
				<textarea class="input-xxlarge" id="test_mail_body" name="test_mail[body]" rows="18" required="true"></textarea>
				<p class="help-block">Paste your HTML here.</p>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn">Preview</button>
			<button class="btn">Check your HTML</button>
			<button type="submit" class="btn btn-primary" id="button_send">Send</button>
		</div>
	<!--
	</fieldset>
	-->
</form>