<div class="container" id="test_mail_form_container">
  <div class="span10">
    <ul class="thumbnails">
      <% @mails.each do | mail | %>
        <li class="span3" style="<%= cycle "clear:both", "", "" %>">
        <div class="thumbnail">
          <a href="<%= gallery_path(mail) %>"><img alt="<%= "Screenshot #{mail.id}" %>" src="<%= url2png_image_url(gallery_url(mail, updated_at: mail.updated_at.to_i), "260x180") %>" class="lazy" width="260" height="180"></a>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
