// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test_mail_cc {
  opacity: 0.5;
  display: none;
}

tr.risky {
	color: #B94A48;
}

tr.poor {
	color: #C09853;
}

tr.safe {
	 color: #468847;
}