<%=raw(@mailBody)%>
<br/>
<table width="100%">
	<tr>
		<td><a href="http://putsmail.com/unsubscribe?token=<%=@user.token%>">Click here</a> to unsubscribe from Puts Mail Test Mailer.</td>
	</tr>
</table>

